.buttonContainer {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.lowerText {
  font-family: sans-serif;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
  font-size: 90px;
  text-shadow: 3px 3px 0px black;
  font-weight: bold;
}

.animated {
  transition: all 0.14s ease-in-out;
}

.animated:hover {
  transform: scale(1.1);
}
