.buttonContainer {
  height: 150px;
  display: flex;
  justify-content: space-around;
}

.buttonContainer.options {
  flex-direction: column;
}

.button {
  margin: 20px;
}

.lowerText {
  font-family: sans-serif;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
  font-size: 90px;
  text-shadow: 3px 3px 0px black;
  font-weight: bold;
}

.lowerText.options {
  font-size: 40px;
  -webkit-text-stroke-width: 1px;
}

.animated {
  transition: all 0.14s ease-in-out;
}

.animated:hover {
  transform: scale(1.1);
}

.animated:active {
  -webkit-text-fill-color: rgb(230, 230, 230);
  text-shadow: none;
}
