.splashContainer {
  display: flex;
  flex-direction: column;
}

.button {
  font-family: sans-serif;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  text-shadow: 3px 3px 0px black;
  transition: all 0.14s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.logo {
  text-align: center;
  position: relative;
  margin-bottom: 120px;
  font-size: 180px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: rgb(40, 40, 40);
  transform: skew(0deg, -6deg);
  background-image: linear-gradient(
    170deg,
    rgba(196, 178, 0, 1) 12%,
    rgba(182, 166, 0, 1) 28%,
    rgba(255, 255, 255, 1) 48%,
    rgba(196, 178, 0, 1) 66%
  );
}
