.splashContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.usernameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 200px;
}
