.cardContainer {
  border: 2px solid rgb(32, 32, 32);
  border-radius: 12px;
  box-shadow: 13px 10px 10px rgba(60, 60, 60, 0.8);
  height: 310px;
  width: 222px;
  margin: 15px;
  background: white;
}

.card {
  position: relative;
  top: -2px;
  left: -2px;
}
